<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<section th:fragment="content">
    <h2>Owners</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Telephone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td>
                <a th:href="@{|/owners/${owner.id}|}" th:text="${owner.firstName + ' ' + owner.lastName}"></a>
            </td>
            <td th:text="${owner.address}"></td>
            <td th:text="${owner.city}"></td>
            <td th:text="${owner.telephone}"></td>
        </tr>
        </tbody>
    </table>
</section>
</html>
